# Import Library

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib as mpl
import seaborn as sns
import numpy as np 
import re
import os
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from datetime import datetime, timedelta
from sklearn.preprocessing import LabelEncoder

# Visualiization Style

In [3]:
sns.set_theme(style='darkgrid')
sns.set_palette("deep")
mpl.rcParams['font.family'] = 'sans'
mpl.rcParams['font.size'] = 12
mpl.rcParams['axes.titlesize'] = 16
mpl.rcParams['axes.labelsize'] = 14
mpl.rcParams['xtick.labelsize'] = 10
mpl.rcParams['ytick.labelsize'] = 10

In [4]:
mongo_uri = "mongodb+srv://wahpram2607:Bangli123.@cluster0.yiobiyk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
db_name = "data_tanah_bali"
collection_name = "list_tanah_bali_clean"


try:
    client = MongoClient(mongo_uri, server_api=ServerApi('1'))
    
    print(f'Connected to DB {db_name}')
    
    db = client[db_name]
    collection = db[collection_name]

    documents = list(collection.find()) 

    df_import = pd.DataFrame(documents)

    print(f'Total documents get: {df_import.shape[0]}')

    client.close()

except Exception as e:
    print(e)

Connected to DB data_tanah_bali
Total documents get: 12810

In [5]:
df = df_import.copy()
df.head()

,_id,Date,Land Area,Price_Total,Price_per_m2,Subdistrict,Regency
0,663892ebeaa77cfa6a0fc369,2024-04-29,2800.0,1.260000e+10,4500000.0,Ubud,Gianyar
1,663892ebeaa77cfa6a0fc36a,2024-04-29,450.0,2.925000e+09,6500000.0,Jimbaran,Badung
2,663892ebeaa77cfa6a0fc36b,2024-04-22,1000.0,1.600000e+10,16000000.0,Kerobokan,Badung
3,663892ebeaa77cfa6a0fc36c,2024-04-29,338.0,1.352000e+09,4000000.0,Kapal,Badung
4,663892ebeaa77cfa6a0fc36d,2024-04-29,328.0,4.264000e+09,13000000.0,Pererenan,Badung

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12810 entries, 0 to 12809
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           12810 non-null  object
 1   Date          12810 non-null  object
 2   Land Area     12810 non-null  float64
 3   Price_Total   12810 non-null  float64
 4   Price_per_m2  12810 non-null  float64
 5   Subdistrict   12810 non-null  object
 6   Regency       12810 non-null  object
dtypes: float64(3), object(4)
memory usage: 700.7+ KB

In [7]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12810 entries, 0 to 12809
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           12810 non-null  object
 1   Date          12810 non-null  datetime64[ns]
 2   Land Area     12810 non-null  float64
 3   Price_Total   12810 non-null  float64
 4   Price_per_m2  12810 non-null  float64
 5   Subdistrict   12810 non-null  object
 6   Regency       12810 non-null  object
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 700.7+ KB

In [12]:
df = df.drop(columns='_id', axis=1)
df.head()

        Date  Land Area   Price_Total  Price_per_m2 Subdistrict  Regency
0 2024-04-29     2800.0  1.260000e+10     4500000.0        Ubud  Gianyar
1 2024-04-29      450.0  2.925000e+09     6500000.0    Jimbaran   Badung
2 2024-04-22     1000.0  1.600000e+10    16000000.0   Kerobokan   Badung
3 2024-04-29      338.0  1.352000e+09     4000000.0       Kapal   Badung
4 2024-04-29      328.0  4.264000e+09    13000000.0   Pererenan   Badung

In [ ]:
# correlation_mat = df.corr()

In [ ]:
# plt.figure(figsize=(8, 6))
# sns.heatmap(correlation_mat, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5, linecolor='black')
# plt.title("Correlation Matrix")
# plt.show()

In [ ]:
# label_encoder = LabelEncoder()
# for col in df.columns:
#     if df[col].dtype == 'object':
#         df[col] = label_encoder.fit_transform(df[col])

# df.head()